{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/pageBase.css') }}">
{% endblock %}
{% block body %}
<aside id="navbar">
	<ul class="link-list">
		<li> <a href="{{ url_for('about') }}">About Us</a> </li>
		<li> <a href="{{ url_for('listPosts') }}">Posts</a> </li>
		<li> <a id="selected" href="{{ url_for('homepage') }}">OSINTer blog</a> </li>
		<li> <a href="https://github.com/bertmad3400/OSINTer" rel="noopener noreferrer" target="_blank">Github</a> </li>
		<li> <a href="https://osinter.dk" rel="noopener noreferrer" target="_blank">Demo</a> </li>
	</ul>
</aside>
{% block pageContent %}
{% endblock %}
{% endblock %}
